div {
  box-sizing: border-box;
  padding: 50px;
  background-color: aqua;
  border: 2px solid black;
}
.one {
  margin: 50px;

  background-color: blue;
}
.two {
  background-color: yellow;
}
.three {
  background-color: green;
}
.four {
  width: 100%;
  background-color: pink;
}
